In [1]:
import pandas as pd

## Objective:
Analyze Market Share trends by Cities (Mumbai, Bangalore, Delhi, Chennai, Kolkata, Hyderabad)

To understand the churn pattern of users i.e. in which states/cities we are seeing a major movement of users to other carriers

Comparison of the top 10 pin codes, where Airtel has lost market share in this period and other operators like Reliance Jio has witnessed a significant surge

Suggest a distinctive strategy for Airtel to retain its users across 3 different states

Specify the assumptions taken during the analysis

## Data Dictionary:
date: Date of which the record is captured

udid: Unique identifier of the user/customer


Operator: Mobile operator of the user

State: State where the user is spotted on that day

City: City where the user is spotted on that day

zipcode: ZIP where the user is spotted on that day

Ad_Requests: Mobile traffic in terms of ad-requests reflects user's quantitative activity on that day using that operator

In [2]:
data = pd.read_csv('rawdata.csv')

In [6]:
data.head()

,date,udid,operator,state,city,zipcode,ad_requests
0,2018-04-15,00000902bb5bea2d8f865e1c6b0ace6abf6725d7,Jio,TAMIL NADU,PALANI,624601,1
1,2018-05-15,00002cd8fd6d3ae94d385102c85d40870430bed3,Vodafone Essar,GUJARAT,AHMEDABAD,380014,3
2,2018-05-15,0000c379b9f8c3476e3fb7e86ec0b8ccc3f6b90c,Jio,UTTAR PRADESH,CHANDAULI,232101,2
3,2018-04-15,0001265ed98b8c1ac1f208e68a05ebcd501aca8b,Jio,ASSAM,NORTH GUWAHATI,781008,77
4,2018-05-15,0001cbb4b1428ad3f0175532b8c8e2b108f32d08,Jio,KARNATAKA,BANGALORE,560066,6

In [7]:
data.size

130320337

## Churn pattern

In [3]:
#State level
data_state = data[['date','udid','operator','state']].drop_duplicates()
print data_state.size
data_state.head()

68976844

,date,udid,operator,state
0,2018-04-15,00000902bb5bea2d8f865e1c6b0ace6abf6725d7,Jio,TAMIL NADU
1,2018-05-15,00002cd8fd6d3ae94d385102c85d40870430bed3,Vodafone Essar,GUJARAT
2,2018-05-15,0000c379b9f8c3476e3fb7e86ec0b8ccc3f6b90c,Jio,UTTAR PRADESH
3,2018-04-15,0001265ed98b8c1ac1f208e68a05ebcd501aca8b,Jio,ASSAM
4,2018-05-15,0001cbb4b1428ad3f0175532b8c8e2b108f32d08,Jio,KARNATAKA

In [20]:
print data_state.operator.unique()
print data_state.date.unique()

['Jio' 'Vodafone Essar' 'Bharti Airtel' 'Idea']
['2018-04-15' '2018-05-15']

In [ ]:
#Replace operators by numbers and dates by months
df1 = data_state.replace({'Jio': 1, 'Vodafone Essar': 2, 'Bharti Airtel':3, 'Idea':4})
df1 = df1.replace({'2018-04-15': 'Apr', '2018-05-15': 'May'})
df1.head()

  date                                      udid  operator          state
0  Apr  00000902bb5bea2d8f865e1c6b0ace6abf6725d7         1     TAMIL NADU
1  May  00002cd8fd6d3ae94d385102c85d40870430bed3         2        GUJARAT
2  May  0000c379b9f8c3476e3fb7e86ec0b8ccc3f6b90c         1  UTTAR PRADESH
3  Apr  0001265ed98b8c1ac1f208e68a05ebcd501aca8b         1          ASSAM
4  May  0001cbb4b1428ad3f0175532b8c8e2b108f32d08         1      KARNATAKA

In [ ]:
import pandasql as ps
#df1.groupby(['udid','date']).filter(lambda x: len(x) > 1)

df1[df1.date == 'Apr'].groupby('udid').filter(lambda g: len(g) > 1).size()
#.groupby('udid').size()
#.sort_values(ascending=False)

q1 = """
SELECT operator 
FROM data_state
limit 2
"""

#print(ps.sqldf(q1, locals()))

In [24]:
df = pd.pivot_table(df1,values='operator',index='udid',columns='date')
df.head()

date                                      Apr  May
udid
000001b2f4b9d139ed496267f056516edf833e80  3.0  3.0
000003fb76b5e01f88dfbb57ce596de197d052cd  2.0  2.0
00000902bb5bea2d8f865e1c6b0ace6abf6725d7  1.0  1.0
00000a52170c3d10d43ff77eb03c04dd164996d4  1.0  1.0
00000a78561f96624d409c0c1b6c297ad308ce08  1.0  1.0

In [26]:
df[df['Apr'] > 1].head()

date                                      Apr  May
udid
000001b2f4b9d139ed496267f056516edf833e80  3.0  3.0
000003fb76b5e01f88dfbb57ce596de197d052cd  2.0  2.0
000016710f5ebd40631966c55bddff9893e1d52f  4.0  4.0
00001a76b6c34367585776ee555169435c111f29  4.0  4.0
00001d617ecfeeaa9e9bc65a3c7503582da7ca6f  2.0  2.0